/Person.class
/Student.class
/Main.class
/Instu.class
/Owner.class
/MainInstu.class
/MainO.class
/Vehical.class
/Car.class
/MainCar.class
/Animal.class
/Dog.class
/AnimalMain.class
/Citizen.class
/Employee.class
/MainCitizen.class
